@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pixelifysans/v1/CHy2V-3HFUT7aC4iv1TxGDR9DHEserHN25py2TTp0H1Y.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: url(../img/bgmain.jpg) no-repeat -100px -200px / cover, #000;
  width: 100vw;
  overflow-x: hidden;
}
.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1070px;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 998;
  margin-top: -69px;
  animation: drop .5s linear;
}
.header__body {
  width: 890px;
  height: 222px;
  background: url(../img/header.png) no-repeat bottom / contain;
  margin: 0 auto 0 auto;
  position: relative;
}
.header__burger {
  display: none;
}
.nav {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 100px;
}
.nav li {
  width: 104px;
  height: 52px;
  margin-right: 13px;
  transition: all .5s;
}
.nav li a {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 52px;
  text-align: center;
}
.nav li.active {
  box-shadow: 0px 0px 10px 0px #f6b107;
}
.nav li.active a {
  color: #aa7b09;
}
.nav li:hover {
  box-shadow: 0px 0px 10px 0px #f6b107;
}
.nav li:hover a {
  color: #aa7b09;
}
.pageLogo__body {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageLogo__item {
  width: 880px;
}
.pageLogo__item img {
  width: 100%;
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes drop {
  0% {
    top: -20%;
  }
  100% {
    top: 0;
  }
}
.footer {
  padding: 20px 0;
  background-color: #0F0F0F;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  width: 180px;
}
.footer__logo img {
  width: 100%;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__socials a {
  display: inline-block;
  margin-left: 10px;
  width: 35px;
}
.footer__socials a:first-child {
  margin-left: 0;
}
.footer__socials a img {
  width: 100%;
}
