@media(max-width: 1440px)
{
	body{
		background-position: top left;
	}
}
@media(max-width: 960px)
{
	.eventMain {
		padding: 100px 0;
	}
	.eventMain__gallery__grid{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(max-width: 620px)
{
	.eventMain__body{
		padding: 20px;
	}
	.eventMain__gallery__grid{
		grid-gap: 20px;
	}
}
@media(max-width: 520px)
{
	.eventMain__text{
		font-size: 14px;
	}
}
@media(max-width: 450px)
{
	.eventMain__gallery__grid{
		grid-template-columns: repeat(1, 1fr);
	}
}
@media(max-width: 390px)
{
	.eventMain__join__btn{
		width: 100%;
	}
	.eventMain__title__main{
		font-size: 36px;
	}
	.eventMain__title__name{
		font-size: 18px;
	}
}
