@media (max-width: 1336px) {
  body {
    background-position: top left;
  }
  .category__body {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .zoom__item {
    height: 500px !important;
  }
  .shopItem__moreinfo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row-reverse;
  }
  .shopItem__feature {
    flex: 0 0 40%;
  }
  .shopItem__fulldescription {
    flex: 0 0 50%;
  }
  .shopItem__maininfo__offer {
    height: 525.3px;
  }
}
@media (max-width: 1100px) {
  .zoom__item {
    height: 400px !important;
  }
  .shopItem__moreinfo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row-reverse;
  }
  .shopItem__feature {
    flex: 0 0 45%;
  }
  .shopItem__fulldescription {
    flex: 0 0 50%;
  }
  .shopMain__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .shopItem__maininfo__container {
    width: 400px;
  }
  .shopItem__maininfo__slider__list__item {
    flex: 0 0 400px;
    height: 400px;
  }
  .slick-slide {
    height: 400px !important;
  }
  .slick-slide img {
    height: 400px;
  }
}
@media (max-width: 960px) {
  .cartMain__flex {
    flex-direction: column;
  }
  .cartMain__list {
    width: 100%;
    margin-bottom: 20px;
  }
  .cartMain__total-box {
    width: 100%;
  }
  .shopItem__moreinfo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row-reverse;
  }
  .shopItem__feature {
    flex: 0 0 35%;
  }
  .shopItem__fulldescription {
    flex: 0 0 60%;
  }
  /* 	.header__flex__item {
		max-width: 50px;
	} */
  .header__nav__category p,
  .header__nav__user p {
    display: none;
  }
  .shopMain__grid {
    grid-template-columns: repeat(2, 50%);
  }
  .shopItem__maininfo {
    flex-direction: column;
    align-items: center;
  }
  .shopItem__maininfo__container {
    width: 400px;
    flex: 1 1 auto;
  }
  .shopItem__maininfo__slider__list__item {
    position: relative;
    width: 400px;
    height: 400px;
  }
  .shopItem__maininfo__offer__costBlock {
    width: 65%;
  }
  .shopItem__maininfo__offer {
    margin-top: 40px;
    flex: 1 1 auto;
  }
  .shopItem {
    margin-top: 100px;
  }
  .confirmMain__image {
    display: none;
  }
  .confirmMain__info {
    flex: 1 1 auto;
  }
  .confirmMain {
    padding: 100px 0 250px 0;
  }
  .popup__buyproduct .popup__block {
    margin: 20px auto 0 auto;
  }
  .category {
    left: auto;
    right: 0;
    bottom: 40px;
    width: auto;
    z-index: 9999;
  }
  .category__body {
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
  }
  .category__back {
    margin-top: 20px;
  }
  .category__name img {
    margin: 0;
  }
  .category__name span {
    display: none;
  }
}
@media (max-width: 620px) {
  .giftItem-flex {
    flex-direction: column;
  }
  .giftItem-flex h3 {
    order: 2;
  }
  .cartMain__list__buttons {
    display: flex;
    justify-content: space-between;
  }
  .cartMain__list__buttons button {
    padding: 5px 0px;
    width: 30%;
  }
  .shopItem__maininfo__offer__costBlock__upper2 {
    flex-direction: column;
  }
  .shopItem__title {
    margin-top: 15px;
  }
  .shopItem__moreinfo {
    display: block;
  }
  .shopItem__body {
    border-radius: 20px;
  }
  .header__nav__burger button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
  }
  .header__nav__category button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
  }
  .header__nav__category .header__nav__cart {
    padding: 10px;
  }
  .header__nav__box {
    background: rgba(28, 28, 28, 0.7);
    height: 49%;
    padding: 22px;
    border-radius: 20px;
  }
  .header__nav__box .header__nav__category {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav__search form {
    width: 100%;
  }
  .header__nav__search button {
    display: block;
    height: 50px;
    width: 50px;
  }
  .header__nav__search input {
    border-radius: 10px;
    height: 50px;
  }
  .header__box {
    margin-top: 0;
  }
  .header__nav__sort {
    margin: 0;
    justify-content: space-between;
  }
  .header__shop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    margin-top: 0;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .header__nav__bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 49%;
    background: #121212;
    padding: 10px;
    border-radius: 20px;
  }
  .header__nav__search button {
    left: 93%;
  }
  .shopMain__grid {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 2px;
  }
  .shopItem__maininfo__offer__costBlock {
    width: 80%;
  }
  .shopMain__item__cost__sub {
    padding: 5px;
  }
  .shopMain__item__cost__sub p {
    font-size: 15px;
  }
  .shopMain__item__cost__sub span {
    font-size: 12px;
  }
  .shopMain__item__cost__old {
    font-size: 15px;
  }
  .shopMain__item__cost__discount {
    font-size: 16px;
  }
}
@media (max-width: 525px) {
  .cartMain__slider {
    gap: 10px;
  }
  .cartMain__slider-buy {
    padding: 5px 5px;
  }
  .cartMain__slider-img {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .cartMain__item-img img {
    height: 100px;
    width: 100px;
  }
  .cartMain__item__info {
    display: block;
  }
  .cartMain__item__info .cartMain__item__price-flex {
    display: none;
  }
  .cartMain__item__info .cartMain__item__actions {
    display: none;
  }
  .cartMain__item__blockFlex2 {
    display: block;
  }
  .cartMain__item {
    flex-direction: column;
  }
  .cartMain__item__blockFlex {
    margin-bottom: 5px;
  }
  .cartMain__item__price-flex {
    margin-bottom: 5px;
  }
  .cartMain__item__info-name {
    font-size: 13px;
  }
  .cartMain__item__info-description {
    font-size: 10px;
  }
  .cartMain__item-img {
    margin-right: 10px;
  }
  .cartMain__item__info-name,
  .cartMain__item__info-description {
    overflow: hidden;
    /* Скрытие текста, который выходит за пределы контейнера */
    text-overflow: ellipsis;
    /* Добавление троеточия в конце текста */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Количество строк, которые будут отображаться */
    -webkit-box-orient: vertical;
  }
  .zoom__item {
    height: 300px !important;
  }
  .shopMain__item__cost__discount {
    position: absolute;
    right: 0;
    top: -17px;
    transform: rotate(10deg) !important;
  }
  .shopMain__item__apples {
    margin-bottom: 10px;
  }
  .shopMain__item__apples img {
    height: 24px;
    width: 24px;
  }
  .shopMain__item__feedback {
    display: block;
    height: auto;
  }
  .shopMain__item__reviews p {
    margin-left: 10px;
  }
  .shopMain__item__reviews br {
    display: none;
  }
  .shopItem__maininfo__container {
    width: 300px;
  }
  .shopItem__maininfo__slider__list__item {
    max-width: 300px;
    width: 300px;
  }
  .slick-slide {
    height: 300px !important;
  }
  .slick-slide img {
    height: 300px;
  }
  .shopItem__maininfo__offer {
    margin-top: 20px;
  }
  .shopItem__body {
    padding: 20px;
  }
  .popup__block {
    padding: 20px 60px;
  }
}
@media (max-width: 475px) {
  .header__nav__search button {
    height: 40px;
    width: 40px;
  }
  .header__nav__search input {
    height: 40px;
  }
  .shopMain__item__title {
    font-size: 15px;
  }
  .shopMain__item__info {
    font-size: 14px;
  }
  .shopMain__item__cost__sub {
    padding: 3px;
  }
  .shopMain__item__cost__sub p {
    font-size: 14px;
  }
  .shopMain__item__cost__sub span {
    font-size: 11px;
  }
  .shopMain__item__cost__old {
    font-size: 14px;
  }
  .shopMain__item__cost__discount {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .carMain__total__bg p,
  .carMain__total__bg span {
    font-size: 13px;
  }
  .shopMain__item__cost__oldSub {
    margin-left: 0px;
  }
  .shopMain__item__cost {
    flex-wrap: wrap;
  }
  .shopMain__item__reviews2 {
    flex-direction: column;
  }
  .header__nav__sorting button,
  .header__nav__filter button {
    height: 35px;
  }
  .header__nav__sort {
    margin-top: 5px;
    height: 35px;
  }
  .header__nav__sort__favorite {
    width: 35px;
    height: 35px;
  }
  .header__nav__sort__favorite img {
    width: 30px;
    height: 30px;
  }
  .header__nav__box {
    padding: 15px;
  }
  .shopMain__item__title {
    font-size: 14px;
  }
  .shopMain__item__info {
    font-size: 13px;
  }
  .shopMain__item__cost {
    margin-top: 10px;
  }
  .shopMain__item__cost__sub {
    padding: 3px;
  }
  .shopMain__item__cost__sub p {
    font-size: 13px;
  }
  .shopMain__item__cost__sub span {
    font-size: 10px;
  }
  .shopMain__item__cost__old {
    font-size: 13px;
  }
  .shopMain__item__cost__discount {
    font-size: 14px;
  }
  .shopMain__item__img {
    height: 200px;
  }
  .shopMain__item {
    padding: 8px;
  }
  .popup__buyproduct .popup__block {
    padding: 20px 75px;
  }
  .shopItem__maininfo__offer__costBlock__subcost span {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .header__nav__search button {
    height: 30px;
    width: 30px;
  }
  .header__nav__search input {
    height: 30px;
  }
  .header__nav__sorting button,
  .header__nav__filter button {
    height: 30px;
    font-size: 13px;
  }
  .header__nav__sort__favorite {
    width: 30px;
    height: 30px;
  }
  .header__nav__sort__favorite img {
    width: 25px;
    height: 25px;
  }
  .header__nav__sort {
    margin-top: 5px;
    height: 30px;
  }
  .shopMain__item__title {
    font-size: 13px;
  }
  .shopMain__item__info {
    font-size: 12px;
  }
  .shopMain__item__cost__sub {
    padding: 3px;
  }
  .shopMain__item__cost__sub p {
    font-size: 12px;
  }
  .shopMain__item__cost__sub span {
    font-size: 10px;
  }
  .shopMain__item__cost__old {
    font-size: 11px;
    margin-left: 2px;
  }
  .shopMain__item__cost__discount {
    font-size: 14px;
  }
  .shopMain__item {
    padding: 5px;
  }
}
@media (max-width: 385px) {
  .shopItem__maininfo__offer__costBlock {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .zoom__item {
    height: 250px !important;
  }
  .shopItem__maininfo__container {
    width: 250px;
  }
  .shopItem__maininfo__slider__list__item {
    max-width: 250px;
    height: 250px;
  }
  .slick-slide {
    height: 250px !important;
  }
  .slick-slide img {
    height: 250px;
  }
  .popup__buyproduct .popup__block {
    padding: 20px 55px;
    -webkit-padding: 20px 55px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 10px;
  }
  .shopMain__item__title {
    font-size: 13px;
  }
  .shopMain__item__info {
    font-size: 12px;
  }
  .shopMain__item__cost__sub {
    padding: 2px;
  }
  .shopMain__item__cost__sub p {
    font-size: 12px;
  }
  .shopMain__item__cost__sub span {
    font-size: 9px;
  }
  .shopMain__item__cost__old {
    font-size: 11px;
    margin-left: 2px;
  }
  .shopMain__item__cost__discount {
    font-size: 14px;
    transform: translateX(-5px);
  }
  .shopMain__item__img {
    height: 180px;
  }
}
@media (max-width: 360px) {
  .header__nav__box {
    padding: 10px;
  }
  .confirmMain__body {
    padding: 35px 15px;
  }
  .header__nav__filter__dropdown {
    width: 280px;
  }
  .header__nav__sorting__dropdown {
    width: 280px;
  }
  .shopMain__item__cost__old {
    font-size: 10px;
    margin-left: 2px;
  }
}
@media (max-width: 320px) {
  .shopItem__maininfo__offer__costBlock {
    padding: 5px;
  }
}
/* ***********************КОРЗИНА************************/
