@media(max-width: 1336px)
{
	body{
		//background-size: contain;
		background-position: top left;
	}
}
@media(max-width: 1100px)
{

	.shopMain__grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media(max-width: 960px)
{
	.shopMain__grid {
		grid-template-columns: repeat(2, 50%);
	}
}
@media(max-width: 620px)
{
	.shopMain__grid {
		grid-template-columns: 1fr;
	}
}