.shopMain {
  margin-bottom: 50px;
}
.shopMain__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 100%;
}
.shopMain__item {
  display: block;
  color: #fff;
  padding: 15px;
  background: #151515;
  border-radius: 10px;
}
.shopMain__item__img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.shopMain__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopMain__item__img__status {
  position: absolute;
  top: 5px;
  right: 10px;
  display: block;
  padding: 5px;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
}
.shopMain__item__title {
  margin-top: 5px;
  font-size: 18px;
}
.shopMain__item__info {
  font-size: 16px;
  font-weight: 300;
}
.shopMain__item__cost {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.shopMain__item__cost__sub {
  text-align: center;
  background: #FFB500;
  padding: 10px;
  border-radius: 5px;
}
.shopMain__item__cost__sub p {
  font-size: 16px;
  font-weight: 500;
}
.shopMain__item__cost__sub span {
  font-size: 12px;
  white-space: nowrap;
}
.shopMain__item__cost__old {
  color: #676767;
  font-size: 16px;
  margin-left: 5px;
}
.shopMain__item__cost__old p:first-child {
  text-decoration: line-through;
  font-weight: 300;
}
.shopMain__item__cost__discount {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
.shopItem {
  margin-top: 250px;
  margin-bottom: 50px;
}
.shopItem__body {
  background: #151515;
  border-radius: 10px;
  padding: 50px;
}
.shopItem__maininfo {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.shopItem__maininfo__container {
  width: 500px;
}
.shopItem__maininfo__slider {
  width: 100%;
}
.slick-list {
  border-radius: 10px;
  overflow: hidden;
}
.slick-slide {
  height: 500px !important;
}
.slick-slide img {
  height: 500px;
}
.shopItem__maininfo__slider__list__item {
  flex: 0 0 500px;
}
.shopItem__maininfo__slider__list__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopItem__maininfo__slider__dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopItem__maininfo__slider__dots__item:last-child {
  margin-right: 0;
}
.shopItem__maininfo__slider__dots__item.active {
  background: #fff;
}
.shopItem__maininfo__slider__dots li button {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #fff;
  margin-right: 5px;
  font-size: 0;
  background: none;
  cursor: pointer;
}
.shopItem__maininfo__slider__dots li {
  margin-right: 5px;
}
.shopItem__maininfo__slider__dots li:last-child {
  margin-right: 0;
}
.shopItem__maininfo__slider__dots li.slick-active button {
  background: #fff;
}
.shopItem__maininfo__offer {
  color: #fff;
  flex: 0 0 400px;
}
.shopItem__maininfo__offer__title {
  font-size: 24px;
  font-weight: 600;
}
.shopItem__maininfo__offer__description {
  font-size: 14px;
  margin: 20px 0;
}
.shopItem__maininfo__offer__costBlock {
  background: #1F1F1F;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.shopItem__maininfo__offer__costBlock__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopItem__maininfo__offer__costBlock__subcost {
  cursor: pointer;
  display: block;
  color: #fff;
  background: #FFB500;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.shopItem__maininfo__offer__costBlock__subcost p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -5px;
}
.shopItem__maininfo__offer__costBlock__subcost span {
  font-size: 12px;
}
.shopItem__maininfo__offer__costBlock__discost {
  font-size: 14px;
  color: #676767;
}
.shopItem__maininfo__offer__costBlock__discost p {
  font-weight: 300;
  text-decoration: line-through;
}
.shopItem__maininfo__offer__costBlock__discount {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
.shopItem__maininfo__offer__costBlock__buy {
  display: block;
  margin-top: 20px;
  color: #FFB500;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #FFB500;
  border-radius: 100px;
  transition: all .5s;
}
.shopItem__maininfo__offer__costBlock__buy:hover {
  background: #FFB500;
  color: #fff;
}
.shopItem__moreinfo {
  color: #fff;
  margin-top: 80px;
}
.shopItem__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.shopItem__feature__body {
  font-size: 16px;
}
.shopItem__feature__item {
  display: flex;
  margin-bottom: 5px;
}
.shopItem__feature__item:last-child {
  margin-bottom: 0;
}
.shopItem__feature__item__name {
  margin-right: 5px;
}
.shopItem__fulldescription {
  margin-top: 20px;
}
.confirmMain {
  padding: 250px 0 200px 0;
}
.confirmMain__body {
  color: #fff;
  padding: 35px;
  background: #151515;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.confirmMain__info {
  flex: 0 0 50%;
}
.confirmMain__info__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.confirmMain__info__item__name {
  font-weight: 600;
}
.confirmMain__info__item__value {
  margin-left: 5px;
}
.confirmMain__info__item--big {
  font-size: 20px;
  margin: 20px 0 20px 0;
}
.confirmMain__info__item--discount .confirmMain__info__item__value {
  color: #FFB500;
}
.confirmMain__info__item--checkbox {
  margin: 25px 0;
  display: flex;
  align-items: start;
}
.confirmMain__info__item--checkbox label {
  margin-left: 10px;
}
.confirmMain__info__item--checkbox label a {
  color: #fff;
  text-decoration: underline;
}
.confirmMain__info__item__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
  background: #FFB500;
  border: 1px solid #FFB500;
  border-radius: 100px;
  padding: 18px 45px;
  cursor: pointer;
}
.confirmMain__info__item__button:disabled {
  background: none;
  cursor: not-allowed;
}
.confirmMain__image {
  flex: 1 1 auto;
}
.confirmMain__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  visibility: hidden;
}
.popup.active {
  visibility: visible;
}
.popup.active .popup__block {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.popup.active .popup__bg {
  opacity: 1;
  visibility: visible;
}
.popup .popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.88);
  opacity: 0;
  transition: all .2s linear;
  visibility: hidden;
}
.popup__sub .popup__block {
  padding: 20px 40px;
  max-width: 420px;
}
.popup__buyproduct .popup__block {
  background: #151515;
  display: block;
  max-width: 515px;
  padding: 20px 100px;
  margin: 100px auto 0 auto;
  border-radius: 20px;
  position: relative;
  transform: scale(0.2);
  opacity: 0;
  transition: all .3s linear;
  visibility: hidden;
}
.popup__buyproduct .popup__close {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}
.popup__buyproduct .popup__close span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  height: 2px;
  width: 21px;
  background: #FFB500;
  transform: rotate(45deg);
}
.popup__buyproduct .popup__close span:last-child {
  transform: rotate(-45deg);
}
.popup__buyproduct .popup__title {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
.popup__buyproduct .popup__form__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.popup__buyproduct .popup__form__input a {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #737373;
  text-decoration: underline;
}
.popup__buyproduct .popup__form__input:first-child {
  margin-top: 40px;
}
.popup__buyproduct .popup__form__input:first-child input {
  width: 70px;
  font-weight: 300;
  border-radius: 10px;
  margin-top: 5px;
}
.popup__buyproduct .popup__form__input input {
  width: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  background: none;
  border: 1px solid #FFB500;
  border-radius: 100px;
  margin-top: 5px;
  color: #fff;
  padding: 12px 15px;
}
.popup__buyproduct .popup__form__input input[type=submit] {
  width: 66.6%;
  display: block;
  background: #FFB500;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin: 10px auto 0 auto;
}
.popup__buyproduct .popup__form__input__text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.popup__buyproduct .popup__form__input__text__note {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  opacity: .7;
}
.popup__buyproduct .poup__form__input__radio {
  display: flex;
  justify-content: space-between;
}
.popup__buyproduct .poup__form__input__radio__item {
  display: flex;
  align-items: center;
}
.popup__buyproduct .poup__form__input__radio__item label {
  color: #FFF;
  margin-left: 10px;
}
.popup__offer {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.popup__offer__enter {
  margin: 25px 0 30px 0;
}
.popup__offer__list__item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.popup__offer__list__item:first-child {
  margin-top: 0;
}
.popup__offer__list__item__img {
  width: 30px;
  margin-right: 10px;
}
.popup__offer__list__item__img img {
  width: 100%;
}
.popup__offer__more {
  text-decoration: underline;
  margin-top: 15px;
  color: #fff;
}
.popup__offer__button {
  display: inline-block;
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 10px 23px;
  background: #FFB500;
  border-radius: 100px;
  align-self: center;
}
.popup__accessBuy .popup__offer {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.popup__accessBuy .popup__offer__header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.popup__accessBuy .popup__offer__img {
  width: 50px;
  height: 50px;
}
.popup__accessBuy .popup__offer__img img {
  width: 100%;
  height: 100%;
}
.popup__subAccess .popup__offer {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.popup__subAccess .popup__offer__header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.popup__subAccess .popup__offer__img {
  width: 50px;
  height: 50px;
}
.popup__subAccess .popup__offer__img img {
  width: 100%;
  height: 100%;
}
