.shopMain {
  margin-bottom: 50px;
}
.shopMain__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.shopMain__item {
  display: block;
  color: #fff;
  padding: 15px;
  background: #151515;
  border-radius: 10px;
}
.shopMain__item__img {
  width: 100%;
}
.shopMain__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopMain__item__title {
  margin-top: 5px;
  font-size: 18px;
}
.shopMain__item__info {
  font-size: 16px;
  font-weight: 300;
}
.shopMain__item__cost {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.shopMain__item__cost__sub {
  text-align: center;
  background: #FFB500;
  padding: 10px;
  border-radius: 5px;
}
.shopMain__item__cost__sub p {
  font-size: 16px;
  font-weight: 500;
}
.shopMain__item__cost__sub span {
  font-size: 12px;
}
.shopMain__item__cost__old {
  color: #676767;
  font-size: 16px;
  margin-left: 5px;
}
.shopMain__item__cost__old p:first-child {
  text-decoration: line-through;
  font-weight: 300;
}
.shopMain__item__cost__discount {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
